<div class="container">

    <h1 class="text-center mt-2 mb-2">Listado {{ tipo }}</h1>

    <div class="text-center">
        <a class="btn btn-success mt-2 mb-5" href="{{ url_ruta_crear }}">Crear {{ tipo }}</a>
        <p class="fw-bold">Filtrar por:</p>
        {% set filtros = {
            'u.nombre' : 'Nombre',
            'u.apellido': 'Apellido'
        } %}
        {{ knp_pagination_filter(usuarios,filtros) }}

        <a class="btn btn-link" href="{{ url_ruta_listar }}">Sin Filtros</a>
    </div>

    <table class="table">
        <thead>
        <th {% if usuarios.isSorted('u.nombre') %} class="table-active" {% endif %}>
            {{ knp_pagination_sortable(usuarios,'Nombre','u.nombre') }}
        </th>
        <th {% if usuarios.isSorted('u.apellido') %} class="table-active" {% endif %}>
            {{ knp_pagination_sortable(usuarios,'Apellido','u.apellido') }}
        </th>
        <th {% if usuarios.isSorted('u.correo') %} class="table-active" {% endif %}>
            {{ knp_pagination_sortable(usuarios,'Email','u.email') }}
        </th>
        <th></th>
        </thead>
        <tbody>
        {% block content_usuarios %}{% endblock %}
        </tbody>
    </table>

    <p class="text-center fw-bold">
        Registros totales: {{ usuarios.count }}
    </p>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(usuarios) }}
    </div>
</div>