<div class="container">

    <h1 class="text-center mt-2 mb-2">Listado {{ tipo }}</h1>

    <div class="text-center">
        {% if is_granted('ROLE_TESORERO') %}
            <a class="btn btn-success mt-2 mb-5" href="{{ url_ruta_crear }}">Crear {{ tipo }}</a>
        {% endif %}

        {% if is_granted('ROLE_ADMINISTRADOR') and tipo == 'Tesorero' %}
            <a class="btn btn-success mt-2 mb-5" href="{{ url_ruta_crear }}">Crear {{ tipo }}</a>
        {% endif %}

        {% if is_granted('ROLE_INSTRUCTOR') and tipo == 'Alumnos' %}
            <a class="btn btn-success mt-2 mb-5" href="{{ url_ruta_crear }}">Crear {{ tipo }}</a>
        {% endif %}

        <a class="btn btn-secondary mt-2 mb-5" href="{{ path('app_usuario_index') }}" >Regresar</a>
    </div>

    <table class="table">
        <thead>
        <th>Dni</th>
        <th>
           Nombre
        </th>
        <th>
           Apellido
        </th>
        <th>
           Correo
        </th>
        <th></th>
        </thead>
        <tbody>
        {% block content_usuarios %}{% endblock %}
        </tbody>
    </table>

    <p class="text-center fw-bold">
        Registros totales: {{ usuarios.count }}
    </p>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(usuarios) }}
    </div>
</div>