{% extends 'theme.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block content %}

    <style>
        .usuarios-container img {
            margin: 0 auto;
            padding-top: 10px;
        }
    </style>

    <div class="container text-center usuarios-container">

        <h1 class="my-4">Gestión de Usuarios</h1>

        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{{ asset('usuarios/alumno.png') }}" class="card-img-top w-25" alt="">
                    <div class="card-body">
                        <a class="fw-bold fs-5" href="{{ path('aeroclub_alumno_index') }}">Alumno</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{{ asset('usuarios/socio.png') }}" class="card-img-top w-25" alt="">
                    <div class="card-body">
                        <a class="fw-bold fs-5" href="{{ path('aeroclub_socio_index') }}">Socio</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{{ asset('usuarios/instructor.png') }}" class="card-img-top w-25" alt="">
                    <div class="card-body">
                        <a class="fw-bold fs-5" href="{{ path('aeroclub_instructor_index') }}">Instructor</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            {% if is_granted('ROLE_ADMINISTRADOR') %}
            <div class="col">
                <div class="card">
                    <img src="{{ asset('usuarios/tesorero.jpg') }}" class="card-img-top w-25" alt="">
                    <div class="card-body">
                        <a class="fw-bold fs-5" href="{{ path('aeroclub_tesorero_index') }}">Tesorero</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col">
                <div class="card">
                    <img src="{{ asset('usuarios/piloto.png') }}" class="card-img-top w-25" alt="">
                    <div class="card-body">
                        <a class="fw-bold fs-5" href="{{ path('aeroclub_piloto_index') }}">Piloto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}