{% extends 'theme.html.twig' %}

{% block title %}Listado Abonos{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Abonos</h1>

        <div class="text-center">
            {% if is_granted('ROLE_SOCIO') or is_granted('ROLE_PILOTO') or is_granted('ROLE_ALUMNO') %}
                <a class="btn btn-success mt-2 mb-5" href="{{ path('app_abono_new') }}">Crear Solicitud</a>
            {% endif %}
        </div>

        <table class="table">
            <thead>
            <th>
                Valor
            </th>
            <th>
                Fecha
            </th>
            <th>
                Servicios abonados
            </th>
            <th>
                Abono Aprobado
            </th>
            <th>
                {% if is_granted('ROLE_TESORERO') %}
                    Realizada Por
                {% endif %}
            </th>
            <th>
            </th>
            </thead>
            <tbody>
            {% for abono in abonos %}
                <tr>
                    <td>{{ abono.valor|format_currency('ARS') }}</td>
                    <td>
                        {{ abono.fecha|date('Y-m-d') }}
                    </td>
                    <td>
                        {% if abono.reservasHangar|length %}
                            <h5>Reservas Hangar</h5>
                        {% endif %}
                        {% for reservaHangar in abono.reservasHangar %}
                            {% set valorServicioHangar = reservaHangar.listaPrecio.precio * reservaHangar.unidadesGastadas %}
                            {{ reservaHangar.reserva.fechaInicio|date('Y-m-d') ~ ' Costo: ' ~ valorServicioHangar|format_currency('ARS') }}
                        {% endfor %}

                        {% if abono.movimientoCuentaVuelos|length %}
                            <h5>Vuelos</h5>
                        {% endif %}
                        {% for vuelo in abono.movimientoCuentaVuelos %}
                            {% set valorVuelo = vuelo.listaPrecio.precio * vuelo.unidadesGastadas %}
                            {{ vuelo.vuelo.fecha|date('Y-m-d') ~ ' Costo: ' ~ valorVuelo|format_currency('ARS') }}
                        {% endfor %}

                        {% if abono.ventas|length %}
                            <h5>Ventas</h5>
                        {% endif %}
                        {% for venta in abono.ventas %}
                            {% for producto in venta.productoVentas %}
                                {% set valorProducto = producto.listaPrecio.precio * producto.cantidad %}
                                {{ venta.fecha|date('Y-m-d') ~ ' Costo: ' ~ valorProducto|format_currency('ARS') }}
                            {% endfor %}
                        {% endfor %}

                        {% for mensualidad in abono.pagoMensualidads %}
                            <h5>{{ mensualidad.mensualidad.servicio.descripcion }}</h5>
                            {% set valorMensualidad = mensualidad.listaPrecio.precio  %}
                            {{ mensualidad.fecha|date('Y-m-d') ~ ' Costo: ' ~ valorMensualidad|format_currency('ARS') }}
                        {% endfor %}

                    </td>
                    <td>
                        {% if abono.aprobado %}
                            <p class="text-success">Si</p>
                        {% else %}
                            <p class="text-danger">No</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_TESORERO') %}
                            {{ abono.paga.nombre }} {{ abono.paga.apellido }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_TESORERO') %}
                            <a class="btn btn-warning"
                               href="{{ path('app_abono_edit', {'id': abono.id}) }}">Editar</a>
                        {% elseif (is_granted('ROLE_SOCIO') or is_granted('ROLE_PILOTO')  or is_granted('ROLE_ALUMNO') )  and abono.aprobado %}
                            <a class="btn btn-warning"
                               href="{{ path('app_abono_recibo', {'id': abono.id}) }}">Ver Recibo</a>
                        {% endif %}
                        {% if abono.aprobado %}


                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ abonos.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(abonos) }}
        </div>
    </div>
{% endblock %}
