{% extends 'theme.html.twig' %}

{% block title %}Listado Pilotos{% endblock %}

{% block content %}

    {% embed 'usuario/index.html.twig' %}
        {% block content_usuarios %}
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.dni }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('aeroclub_piloto_edit', {'id': usuario.piloto.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}