{{ form_start(form,{'attr': {'class': 'p-2' }}) }}
<div class="row">
    <div class="col mb-3 form-check form-switch">
        {{ form_label(form.vuelo.es_vuelo_turistico) }}

        {% if form_errors(form.vuelo.es_vuelo_turistico) %}
            <div class="alert alert-danger">
                {{ form_errors(form.vuelo.es_vuelo_turistico) }}
            </div>
        {% endif %}

        {{ form_widget(form.vuelo.es_vuelo_turistico) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.vuelo.observaciones) }}

        {% if form_errors(form.vuelo.observaciones) %}
            <div class="alert alert-danger">
                {{ form_errors(form.vuelo.observaciones) }}
            </div>
        {% endif %}

        {{ form_widget(form.vuelo.observaciones) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.vuelo.fecha) }}

        {% if form_errors(form.vuelo.fecha) %}
            <div class="alert alert-danger">
                {{ form_errors(form.vuelo.fecha) }}
            </div>
        {% endif %}

        {{ form_widget(form.vuelo.fecha) }}
    </div>
</div>
{% if is_granted('ROLE_ALUMNO') %}
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.vuelo.curso) }}

            {% if form_errors(form.vuelo.curso) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.vuelo.curso) }}
                </div>
            {% endif %}

            {{ form_widget(form.vuelo.curso) }}
        </div>
        <div class="col mb-3">
            {{ form_label(form.vuelo.avion) }}

            {% if form_errors(form.vuelo.avion) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.vuelo.avion) }}
                </div>
            {% endif %}

            {{ form_widget(form.vuelo.avion) }}
        </div>
    </div>
{% endif %}

{% if is_granted('ROLE_PILOTO') or is_granted('ROLE_SOCIO') %}
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.vuelo.reservaVuelo) }}

            {% if form_errors(form.vuelo.reservaVuelo) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.vuelo.reservaVuelo) }}
                </div>
            {% endif %}

            {{ form_widget(form.vuelo.reservaVuelo) }}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col mb-3">
        {{ form_label(form.aterrizajes) }}

        {% if form_errors(form.aterrizajes) %}
            <div class="alert alert-danger">
                {{ form_errors(form.aterrizajes) }}
            </div>
        {% endif %}

        {{ form_widget(form.aterrizajes) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.tipo_vuelo) }}

        {% if form_errors(form.tipo_vuelo) %}
            <div class="alert alert-danger">
                {{ form_errors(form.tipo_vuelo) }}
            </div>
        {% endif %}

        {{ form_widget(form.tipo_vuelo) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.pista_despegue) }}

        {% if form_errors(form.pista_despegue) %}
            <div class="alert alert-danger">
                {{ form_errors(form.pista_despegue) }}
            </div>
        {% endif %}

        {{ form_widget(form.pista_despegue) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.pista_aterrizaje) }}

        {% if form_errors(form.pista_aterrizaje) %}
            <div class="alert alert-danger">
                {{ form_errors(form.pista_aterrizaje) }}
            </div>
        {% endif %}

        {{ form_widget(form.pista_aterrizaje) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.horometro_despegue) }}

        {% if form_errors(form.horometro_despegue) %}
            <div class="alert alert-danger">
                {{ form_errors(form.horometro_despegue) }}
            </div>
        {% endif %}

        {{ form_widget(form.horometro_despegue) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.horometro_aterrizaje) }}

        {% if form_errors(form.horometro_aterrizaje) %}
            <div class="alert alert-danger">
                {{ form_errors(form.horometro_aterrizaje) }}
            </div>
        {% endif %}

        {{ form_widget(form.horometro_aterrizaje) }}
    </div>
</div>

{% if is_granted('ROLE_PILOTO') or is_granted('ROLE_SOCIO') %}
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.vuelo.productoVuelos) }}

            {% if form_errors(form.vuelo.productoVuelos) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.vuelo.productoVuelos) }}
                </div>
            {% endif %}


            <ul class="productosVuelos"
                data-index="{{ form.vuelo.productoVuelos|length > 0 ? form.vuelo.productoVuelos|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.vuelo.productoVuelos.vars.prototype)|e('html_attr') }}">
                {% for productoVuelo in form.vuelo.productoVuelos %}
                    <li>
                        {{ form_errors(productoVuelo) }}
                        {{ form_widget(productoVuelo) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="add_item_link btn btn-info" data-collection-holder-class="productosVuelos">Agregar Producto</button>

        </div>
    </div>
{% endif %}

<div class="text-center mt-3">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Guardar') }}</button>
</div>
{{ form_end(form) }}

<script>

    document.addEventListener('DOMContentLoaded',function (){

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document.querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click",addFormToCollection)
            });
    })
</script>
