{{ form_start(form,{'attr': {'class': 'p-2' }}) }}
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.fecha_vencimiento_licencia_medica) }}
        {% if form_errors(form.fecha_vencimiento_licencia_medica) %}
            <div class="alert alert-danger">
                {{ form_errors(form.fecha_vencimiento_licencia_medica) }}
            </div>
        {% endif %}
        {{ form_widget(form.fecha_vencimiento_licencia_medica) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.tipo_licencia) }}
        {% if form_errors(form.tipo_licencia) %}
            <div class="alert alert-danger">
                {{ form_errors(form.tipo_licencia) }}
            </div>
        {% endif %}
        {{ form_widget(form.tipo_licencia) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.numero_socio) }}
        {% if form_errors(form.numero_socio) %}
            <div class="alert alert-danger">
                {{ form_errors(form.numero_socio) }}
            </div>
        {% endif %}
        {{ form_widget(form.numero_socio) }}
    </div>
</div>
{{ include('usuario/_form.html.twig') }}
{{ form_end(form) }}
