{{ form_start(form,{'attr': {'class': 'p-2' }}) }}
<div class="row">
    <div class="col form-check form-switch">
        {{ form_label(form.habilitado_volar) }}

        {{ form_widget(form.habilitado_volar) }}

        {% if form_errors(form.habilitado_volar) %}
            <div class="alert alert-danger">
                {{ form_errors(form.habilitado_volar) }}
            </div>
        {% endif %}

    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.fecha_vencimiento_licencia_medica) }}
        {% if form_errors(form.fecha_vencimiento_licencia_medica) %}
            <div class="alert alert-danger">
                {{ form_errors(form.fecha_vencimiento_licencia_medica) }}
            </div>
        {% endif %}
        {{ form_widget(form.fecha_vencimiento_licencia_medica) }}
    </div>
</div>
{{ include('usuario/_form.html.twig') }}
{{ form_end(form) }}
