{% extends 'theme.html.twig' %}

{% block title %}Listado alumnos{% endblock %}

{% block content %}

    {% embed 'usuario/index.html.twig' %}
        {% block content_usuarios %}
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.dni }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMINISTRADOR') %}
                            {{ include('alumno/_delete_form.html.twig') }}
                        {% else %}
                            <a class="btn btn-warning mb-2" href="{{ path('aeroclub_alumno_edit', {'id': usuario.alumno.id}) }}">Editar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}