{% extends 'base.html.twig' %}

{% block title %}Alumno{% endblock %}

{% block body %}
    <h1>Alumno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alumno.id }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ alumno.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ alumno.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ alumno.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ alumno.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ alumno.telefono }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ alumno.domicilio }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ alumno.ciudad }}</td>
            </tr>
            <tr>
                <th>Habilitado_volar</th>
                <td>{{ alumno.habilitadoVolar ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fecha_vencimiento_licencia_medica</th>
                <td>{{ alumno.fechaVencimientoLicenciaMedica ? alumno.fechaVencimientoLicenciaMedica|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ alumno.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alumno_index') }}">back to list</a>

    <a href="{{ path('app_alumno_edit', {'id': alumno.id}) }}">edit</a>

    {{ include('alumno/_delete_form.html.twig') }}
{% endblock %}
