<style>
    #sidebar-container {
        min-height: 100vh;
        background-color: #111B54;
    }

    #sidebar-container .logo {
        padding: .875rem 1.25rem;
    }

    .menu a {
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #93c5fd;
    }

    .logo img {
        width: 50%;
    }
</style>

<div id="sidebar-container">
    <div class="logo text-center">
        <img src="{{ asset('Logoaeroclub.png') }}" alt="Logo Aeroclub">
        <h3 class="text-light">Piloto</h3>
    </div>
    <div class="menu">
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_home') }}">Home</a>
        <a class="d-block p-3 text-light" href="{{ path('app_reserva_hangar_index') }}">Solicitud Reserva Hangar</a>
        <a class="d-block p-3 text-light" href="{{ path('app_abono_index') }}">Abono</a>
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_logout') }}">Cerrar Sesión</a>
    </div>
</div>
