<style>
    #sidebar-container {
        min-height: 100vh;
        background-color: #111B54;
    }

    #sidebar-container .logo {
        padding: .875rem 1.25rem;
    }

    .menu a {
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #93c5fd;
    }

    .logo img {
        width: 50%;
    }
</style>

<div id="sidebar-container">
    <div class="logo text-center">
        <img src="{{ asset('Logoaeroclub.png') }}" alt="Logo Aeroclub">
        <h3 class="text-light">Tesorero</h3>
    </div>
    <div class="menu">
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_home') }}">Home</a>
        <a class="d-block p-3 text-light" href="{{ path('app_usuario_index') }}">Usuarios</a>
        <a class="d-block p-3 text-light" href="{{ path('app_hangar_index') }}">Hangares</a>
        <a class="d-block p-3 text-light" href="{{ path('app_reserva_hangar_index') }}">Reservas Hangares</a>
        <a class="d-block p-3 text-light" href="{{ path('app_servicio_index') }}">Servicios</a>
        <a class="d-block p-3 text-light" href="{{ path('app_lista_precio_index') }}">Lista Precios</a>
{#        <a class="d-block p-3 text-light" href="{{ path('app_unidades_pago_index') }}">Unidades Pago</a>#}
        <a class="d-block p-3 text-light" href="">Cursos</a>
        <a class="d-block p-3 text-light" href="">Aviones</a>
        <a class="d-block p-3 text-light" href="">Vuelos Turísticos</a>
        <a class="d-block p-3 text-light" href="{{ path('app_producto_index') }}">Productos</a>
        <a class="d-block p-3 text-light" href="">Ventas</a>
        <a class="d-block p-3 text-light" href="{{ path('app_gasto_index') }}">Gastos</a>
        <a class="d-block p-3 text-light" href="{{ path('app_nota_index') }}">Notas</a>
        <a class="d-block p-3 text-light" href="">Pagos</a>
        <a class="d-block p-3 text-light" href="{{ path('aeroclub_logout') }}">Cerrar Sesión</a>
    </div>
</div>
