{% extends 'theme.html.twig' %}

{% block title %}Listado notas{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Notas</h1>

        <div class="text-center">
            <a class="btn btn-success mt-2 mb-5" href="{{ path('app_nota_new') }}">Crear Notas</a>
        </div>

        <table class="table">
            <thead>
            <th>
                Descripción
            </th>
            <th>
                Fecha recordatorio
            </th>
            <th>

            </th>
            </thead>
            <tbody>
            {% for nota in notas %}
                <tr>
                    <td>{{ nota.descripcion }}</td>
                    <td>{{ nota.fechaRecordatorio|date('Y-m-d') }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_nota_edit', {'id': nota.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ notas.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(notas) }}
        </div>
    </div>
{% endblock %}
