{% extends 'base.html.twig' %}

{% block title %}Avion{% endblock %}

{% block body %}
    <h1>Avion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avion.id }}</td>
            </tr>
            <tr>
                <th>Matricula</th>
                <td>{{ avion.matricula }}</td>
            </tr>
            <tr>
                <th>Fecha_inspeccion</th>
                <td>{{ avion.fechaInspeccion ? avion.fechaInspeccion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_mantenimiento</th>
                <td>{{ avion.fechaMantenimiento ? avion.fechaMantenimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avion_index') }}">back to list</a>

    <a href="{{ path('app_avion_edit', {'id': avion.id}) }}">edit</a>

    {{ include('avion/_delete_form.html.twig') }}
{% endblock %}
