{% extends 'theme.html.twig' %}

{% block title %}Listado Vuelos Planeador{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Vuelos Planeador</h1>

        <div class="text-center">
            <a class="btn btn-success mt-2 mb-5" href="{{ path('app_vuelo_planeador_new') }}">Crear Vuelo Planeador</a>
        </div>

        <table class="table">
            <thead>
            <th>
                Curso
            </th>
            <th>
                Avión
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Tiempo Remolque
            </th>
            <th>
                Tiempo Libre
            </th>
            <th>
                Tema Vuelo
            </th>
            <th>
                Tiempo Acumulado
            </th>
            <th>

            </th>
            </thead>
            <tbody>
            {% for vuelo_planeador in vuelos_planeador %}
                <tr>
                    <td>
                        {% if vuelo_planeador.vuelo.curso is not null %}
                            {{ vuelo_planeador.vuelo.curso.descripcion }}
                        {% endif %}
                    </td>
                    <td>
                        {% if vuelo_planeador.vuelo.avion|length  %}
                            {{ vuelo_planeador.vuelo.avion.matricula }}
                        {% else %}
                            {{ vuelo_planeador.vuelo.reservaVuelo.avion.matricula }}
                        {% endif %}
                    </td>
                    <td>
                        {{ vuelo_planeador.vuelo.observaciones }}
                    </td>
                    <td>
                        {{ vuelo_planeador.tiempoRemolque }}
                    </td>
                    <td>
                        {{ vuelo_planeador.tiempoLibre }}
                    <td>
                        {{ vuelo_planeador.temaVuelo }}
                    </td>
                    <td>
                        {{ vuelo_planeador.tiempoAcumulado }}
                    </td>
                    <td>
                        <a class="btn btn-warning"
                           href="{{ path('app_vuelo_planeador_edit', {'id': vuelo_planeador.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ vuelos_planeador.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(vuelos_planeador) }}
        </div>
    </div>
{% endblock %}
