{% extends 'theme.html.twig' %}

{% block title %}Listado gastos{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Gastos</h1>

        <div class="text-center">
            <a class="btn btn-success mt-2 mb-5" href="{{ path('app_gasto_new') }}">Crear Gasto</a>
            <a class="btn btn-success mt-2 mb-5" href="{{ path('app_gasto_exportar') }}">Exportar Gastos</a>
        </div>

        <table class="table">
            <thead>
            <th>
                Descripcion
            </th>
            <th>
                Valor
            </th>
            <th>
                Fecha
            </th>
            <th>

            </th>
            </thead>
            <tbody>
            {% for gasto in gastos %}
                <tr>
                    <td>{{ gasto.descripcion }}</td>
                    <td>{{ gasto.valor }}</td>
                    <td>{{ gasto.fecha|date('Y-m-d') }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_gasto_edit', {'id': gasto.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ gastos.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(gastos) }}
        </div>
    </div>
{% endblock %}
