{{ form_start(form,{'attr': {'class': 'p-2' }}) }}
{% if is_granted('ROLE_TESORERO') %}
    <div class="row">
        <div class="col mb-3 form-check form-switch">
            {{ form_label(form.reserva.aprobado) }}

            {% if form_errors(form.reserva.aprobado) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.reserva.aprobado) }}
                </div>
            {% endif %}

            {{ form_widget(form.reserva.aprobado) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.unidades_gastadas) }}

            {% if form_errors(form.unidades_gastadas) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.unidades_gastadas) }}
                </div>
            {% endif %}

            {{ form_widget(form.unidades_gastadas) }}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.reserva.fecha) }}

        {% if form_errors(form.reserva.fecha) %}
            <div class="alert alert-danger">
                {{ form_errors(form.reserva.fecha) }}
            </div>
        {% endif %}

        {{ form_widget(form.reserva.fecha) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.dias_ocupacion) }}

        {% if form_errors(form.dias_ocupacion) %}
            <div class="alert alert-danger">
                {{ form_errors(form.dias_ocupacion) }}
            </div>
        {% endif %}

        {{ form_widget(form.dias_ocupacion) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.hangar) }}

        {% if form_errors(form.hangar) %}
            <div class="alert alert-danger">
                {{ form_errors(form.hangar) }}
            </div>
        {% endif %}

        {{ form_widget(form.hangar) }}
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Guardar') }}</button>
</div>
{{ form_end(form) }}
