{{ form_start(form,{'attr': {'class': 'p-2' }}) }}
<div class="row">
    <div class="col form-check form-switch">
        {{ form_label(form.socio) }}

        {{ form_widget(form.socio) }}

        {% if form_errors(form.socio) %}
            <div class="alert alert-danger">
                {{ form_errors(form.socio) }}
            </div>
        {% endif %}

    </div>
    <div class="col form-check form-switch">
        {{ form_label(form.alumno) }}

        {{ form_widget(form.alumno) }}

        {% if form_errors(form.alumno) %}
            <div class="alert alert-danger">
                {{ form_errors(form.alumno) }}
            </div>
        {% endif %}

    </div>
    <div class="col form-check form-switch">
        {{ form_label(form.bautismo) }}

        {{ form_widget(form.bautismo) }}

        {% if form_errors(form.bautismo) %}
            <div class="alert alert-danger">
                {{ form_errors(form.bautismo) }}
            </div>
        {% endif %}

    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.servicio) }}

        {% if form_errors(form.servicio) %}
            <div class="alert alert-danger">
                {{ form_errors(form.servicio) }}
            </div>
        {% endif %}

        {{ form_widget(form.servicio) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.avion) }}

        {% if form_errors(form.avion) %}
            <div class="alert alert-danger">
                {{ form_errors(form.avion) }}
            </div>
        {% endif %}

        {{ form_widget(form.avion) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.producto) }}

        {% if form_errors(form.producto) %}
            <div class="alert alert-danger">
                {{ form_errors(form.producto) }}
            </div>
        {% endif %}

        {{ form_widget(form.producto) }}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        {{ form_label(form.precio) }}

        {% if form_errors(form.precio) %}
            <div class="alert alert-danger">
                {{ form_errors(form.precio) }}
            </div>
        {% endif %}

        {{ form_widget(form.precio) }}
    </div>
    <div class="col mb-3">
        {{ form_label(form.historial_lista_precio) }}

        {% if form_errors(form.historial_lista_precio) %}
            <div class="alert alert-danger">
                {{ form_errors(form.historial_lista_precio) }}
            </div>
        {% endif %}

        {{ form_widget(form.historial_lista_precio) }}
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-primary btn-lg">{{ button_label|default('Guardar') }}</button>
</div>
{{ form_end(form) }}
