{% extends 'theme.html.twig' %}

{% block title %}Listado Lista Precios{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Lista Precios</h1>

        <div class="text-center">
            <a class="btn btn-success mt-2 mb-5" href="{{ path('app_lista_precio_new') }}">Crear Lista Precios</a>
            <p class="fw-bold">Filtrar por:</p>
            {% set filtros = {
                'l.precio' : 'Precio'
            } %}
            {{ knp_pagination_filter(lista_precios,filtros) }}

            <a class="btn btn-link" href="{{ path('app_lista_precio_index') }}">Sin Filtros</a>
        </div>

        <table class="table">
            <thead>
            <th>
                Precio
            </th>
            <th>
            </th>
            <th>
                Ultima Actualización
            </th>
            <th>
                Precio para Socio
            </th>
            <th>
                Precio para Alumno
            </th>
            <th>
                Bautismo
            </th>
            <th>

            </th>
            </thead>
            <tbody>
            {% for lista_precio in lista_precios %}
                <tr>
                    <td>{{ lista_precio.precio|format_currency('ARS') }}</td>
                    <td>
                        {% if lista_precio.servicio %}
                            <h4>Servicio</h4>
                            {{ lista_precio.servicio.descripcion }}
                        {% elseif lista_precio.avion %}
                            <h4>Avión</h4>
                            {{ lista_precio.avion.matricula }}
                        {% elseif lista_precio.producto %}
                            <h4>Producto</h4>
                            {{ lista_precio.producto.descripcion }}
                        {% endif %}
                    </td>
                    <td>
                        {{ lista_precio.historialListaPrecio.fecha|date('Y-m-d') ~ ' ' ~ lista_precio.historialListaPrecio.porcentajeCambio ~ '%' }}</td>
                    <td>
                        {% if lista_precio.socio %}
                            <p class="text-success">Si</p>
                        {% else %}
                            <p class="text-danger">No</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if lista_precio.alumno %}
                            <p class="text-success">Si</p>
                        {% else %}
                            <p class="text-danger">No</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if lista_precio.bautismo %}
                            <p class="text-success">Si</p>
                        {% else %}
                            <p class="text-danger">No</p>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_lista_precio_edit', {'id': lista_precio.id}) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ lista_precios.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(lista_precios) }}
        </div>
    </div>
{% endblock %}
