{% extends 'theme.html.twig' %}

{% block title %}Listado Vuelo Turisticos{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="text-center mt-2 mb-2">Listado Vuelos Motor</h1>


        <table class="table">
            <thead>
                <th>
                    Avión
                </th>
                <th>
                    Aterrizajes
                </th>
                <th>
                    Pista Despegue
                </th>
                <th>
                    Pista Aterrizaje
                </th>
                <th>
                    Horómetro Despegue
                </th>
                <th>
                    Horómetro Aterrizaje
                </th>
                <th>
                    Unidades gastadas
                </th>
                <th>
                    Tipo Vuelo
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Realizado por
                </th>
            </thead>
            <tbody>
            {% for vuelo_motor in vuelos_motor %}
                <tr>
                    <td>
                        {% if vuelo_motor.vuelo.avion|length  %}
                            {{ vuelo_motor.vuelo.avion.matricula }}
                        {% else %}
                            {{ vuelo_motor.vuelo.reservaVuelo.avion.matricula }}
                        {% endif %}
                    </td>
                    <td>{{ vuelo_motor.aterrizajes }}</td>
                    <td>{{ vuelo_motor.pistaDespegue }}</td>
                    <td>{{ vuelo_motor.pistaAterrizaje }}</td>
                    <td>{{ vuelo_motor.horometroDespegue }}</td>
                    <td>{{ vuelo_motor.horometroAterrizaje }}</td>
                    <td>
                        {{ vuelo_motor.vuelo.movimientoCuentaVuelo.unidadesGastadas }}
                    </td>
                    <td>
                        {{ vuelo_motor.tipoVuelo }}
                    </td>
                    <td>
                        {{ vuelo_motor.vuelo.fecha|date('Y-m-d') }}
                    </td>
                    <td>
                        {{ vuelo_motor.vuelo.reservaVuelo.reserva.usuario.nombre }} {{ vuelo_motor.vuelo.reservaVuelo.reserva.usuario.apellido }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center fw-bold">
            Registros totales: {{ vuelos_motor.count }}
        </p>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(vuelos_motor) }}
        </div>
    </div>

{% endblock %}